<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>

<% for (let book of books) { %>
  <h2><%= book.title %></h2>
  <p><%= book.summary %></p>
<% } %>

<a href="./" >Add another book</a>

</body>
</html>
